* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App {
  background-color: #282c34;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  color: #e4e6eb;

  .App-header {
    min-height: 80px;
    margin-top: 32px;
  }

  main {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .welcome-area {
      max-width: 500px;
      width: 100%;
      min-width: 100%;
      display: flex;
      justify-content: space-evenly;
      .welcome-area-form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        input {
          width: 250px;
        }

        .button {
          width: 90px;
        }
      }
    }

    .chat-area {
      background-color: #242526;
      width: 600px;
      min-height: 365px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media (max-width: 960px) {
        max-width: 90vw;
      }

      .chat-area-box {
        padding-left: 16px;
        padding-right: 16px;
        max-height: 300px;
        overflow-y: auto;
        .message-list {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          .sender {
            font-size: 0.6875rem;
            color: #b0b3b8;
            line-height: 1.33;
            margin-bottom: 4px;
            margin-top: 4px;
          }

          .message-out {
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            margin-top: 8px;

            .sender {
              align-self: flex-end;
              margin-right: 16px;
            }

            .message {
              color: #e4e6eb;
              background-color: #1877f2;
              align-items: center;
              align-content: center;
              justify-content: center;
              display: flex;
              font-size: 16px;
              border-radius: 50px;
              height: 40px;
              padding-left: 16px;
              padding-right: 16px;
            }
          }

          .message-in {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            margin-top: 8px;

            .sender {
              align-self: flex-start;
              margin-left: 16px;
            }

            .message {
              color: #e4e6eb;
              background-color: #3e4042;
              align-items: center;
              align-content: center;
              justify-content: center;
              display: flex;
              font-size: 16px;
              border-radius: 50px;
              height: 40px;
              padding-left: 16px;
              padding-right: 16px;
            }
          }
        }
      }

      .chat-area-form-wrapper {
        padding-bottom: 8px;
        margin-top: 16px;
        display: flex;
        flex-direction: column;

        input {
          width: 70%;
        }

        .button {
          width: 22.5%;
        }

        @media (min-width: 600px) and (max-width: 960px) {
          input {
            width: 70%;
          }
        }

        @media (max-width: 600px) {
          input {
            width: 65%;
          }
        }
      }
    }
  }

  .error {
    color: #ff0033;
  }

  .message {
    color: #ecf3ff;
  }

  input {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border: 0;
    border-radius: 50px;
    background-color: #3a3b3c;
    margin: 0 8px;
    font-size: 16px;
    color: #ecf3ff;
    outline: none;
  }

  .button {
    height: 40px;
    min-width: 60px;
    border: 0;
    border-radius: 50px;
    margin: 0 8px;
    background-color: #2851a3;
    color: #ecf3ff;
    font-size: 16px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #1877f2;
    }
  }
}
